# Python virtual environments
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE settings
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration
.env
.envrc 